.site-header {
    background: url('../images/blue-and-purple-cosmic-sky-956999.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: #ecfdf9;
    min-height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}
.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    /*box-shadow:orangered 2px 5px 5px;*/
    float : right;
}
.course-link {
    color: #ecfdf9;
}
body {
    margin: 0;
    
}
.ico {
    color:white;
    margin: 30;
}