.site-header {
    background-color: #1bbc9b;
    color: #ecfdf9;
    overflow: auto;
    min-height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.site-header-content {
    margin: 30px;
}

.course-link {
    color: #ecfdf9;
}
body {
    margin: 0;
}
